

<div data-options="dxView : { name: 'chimes', title: 'Chimes'} " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div class="tileView" data-bind="dxTileView: {
		  dataSource: dataSource,
		  itemMargin: 20,
		  baseItemHeight: 230,
		  baseItemWidth: 180
		}">
		    <div class="tile" data-options="dxTemplate:{name:'item'}">
		    	<div class="user-img">
		    		<img data-bind="attr: {src: userImg}" style="width:100px; height:100px;"/>
		    	</div>

		    	<p><h4>By: <i data-bind="text: user"></i></h4></p>
		    	<div class="score">
		    		<h4>Chime score: <span data-bind="text: chime_score"</h4>
            <img src="views/assets/CcCHighResLogo.png" style="width:10px; height:10px;" />
		    	</div>
          <div data-bind="if: reason">
                      <p><h4>Because <span data-bind="text: reason"></span></h4></p>
                  </div>
          
          
		        
		    </div>
		</div>
		<div class="donate">
	    	<a href="https://www.paypal.com"><button type="submit" class="paypal-button large" >Donate Your Daily $</button></a>
	    </div>
    </div>
</div>