<div data-options="dxView : { name: 'profile', title: 'Profile'} " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
      
      <div class="user_info">
       <img src="http://photos1.meetupstatic.com/photos/member/d/d/3/8/member_39656632.jpeg" style="width:80px; height:80px;" /> 
        <div data-options="dxTemplate:{name:'item'}">  
            <p class="username">Alaina</b></p>
            <p class="clout_score">Chime Score: 30</p></p>
          </div>
      </div>  
      
  
      
    <ul class="chimes-ul" data-bind="dxList: {
  dataSource: dataSource
}">
      <li class = "chime-item" data-bind="style: {backgroundColor: calculateTheme(category) }" data-options="dxTemplate:{name:'item'}">
		        <p style="font-size:15px;">I chimed for <b data-bind="text: cause"></b> because <b data-bind="text: reason"></b></p>
      </li>        
    </ul>

</div>
